# CODEOWNERS file for AFM-Application
# This file assigns reviewers to all pull requests
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be assigned to all PRs
*       @sapiosaturn @Cecocho @Crystalcareai @eric-tramel

