:root {
  /* Brand */
  --brand-50: #EAFAFA;
  --brand-100: #D5F6F6;
  --brand-200: #C0F2F2;
  --brand-250: #ABEDED;
  --brand-300: #86EAEA;
  --brand-400: #17CFCF;
  --brand-450: #09B3B3;
  --brand-500: #008C8C;
  --brand-550: #037C7C;
  --brand-600: #066F6F;
  --brand-700: #094E4E;
  --brand-800: #093434;
  --brand-900: #0A1F1F;
  --brand-950: #002929;
  --brand-trans-50: #008C8C19;
  --brand-trans-100: #008C8C26;
  --brand-trans-200: #008C8C33;
  --brand-trans-300: #008C8C40;
  --brand-trans-400: #008C8C4c;
  --brand-trans-500: #008C8C66;
  --brand-trans-600: #008C8C80;
  --brand-trans-700: #008C8C99;
  --brand-trans-800: #008C8Cc0;
  --brand-trans-900: #008C8Ce6;

  /* Complementary / Blue */
  --blue-50: #f3fcff;
  --blue-100: #e2f5ff;
  --blue-200: #b9efff;
  --blue-300: #6fd8f3;
  --blue-400: #20bfe7;
  --blue-500: #12a1d4;
  --blue-600: #178dbc;
  --blue-700: #236382;
  --blue-800: #224259;
  --blue-900: #17252e;
  --blue-950: #11181c;

  /* Messages / Green */
  --green-50: #f3fff5;
  --green-100: #e3ffe2;
  --green-200: #b9ffbf;
  --green-300: #6ff374;
  --green-400: #20e72a;
  --green-500: #21c931;
  --green-600: #178e1b;
  --green-700: #1a581f;
  --green-800: #18411c;
  --green-900: #142916;
  --green-950: #111b12;

  /* Messages / Red */
  --red-50: #fff3f4;
  --red-100: #ffe2e3;
  --red-200: #ffb9ba;
  --red-300: #f76f71;
  --red-400: #f5272b;
  --red-500: #df080c;
  --red-600: #a11a1c;
  --red-700: #762729;
  --red-800: #582626;
  --red-900: #361d1d;
  --red-950: #221717;

  /* Messages / Yellow */
  --yellow-50: #fffbf3;
  --yellow-100: #fff6e2;
  --yellow-200: #ffefb9;
  --yellow-300: #f3d46f;
  --yellow-400: #e7b520;
  --yellow-500: #cc9619;
  --yellow-600: #986a19;
  --yellow-700: #65431c;
  --yellow-800: #442d1a;
  --yellow-900: #33241a;
  --yellow-950: #1f1813;

  /* Neutral */
  --gray-975: #101212;
  --gray-950: #131515;
  --gray-900: #181B1B;
  --gray-850: #1D2020;
  --gray-800: #222525;
  --gray-750: #272B2B;
  --gray-700: #2C3030;
  --gray-650: #323939;
  --gray-600: #394242;
  --gray-500: #596868;
  --gray-400: #778B8B;
  --gray-300: #A4B1B1;
  --gray-200: #C0C9C9;
  --gray-150: #CED6D6;
  --gray-100: #DDE2E2;
  --gray-75: #E7EAEA;
  --gray-50: #F0F3F3;
  --gray-25: #F9FAFA;
  --white: #fff;
  --black: #0d0e0f;
  --transparent: #fff0;
  --transparent-dark-mode: #16161700;

  /* Trans */
  --dark-trans-25: #10191E10;
  --dark-trans-50: #0E171B19;
  --dark-trans-100: #0E171B26;
  --dark-trans-200: #10191E33;
  --dark-trans-300: #10191E40;
  --dark-trans-400: #10191E4c;
  --dark-trans-500: #10191E66;
  --dark-trans-600: #10191E80;
  --dark-trans-700: #10191E99;
  --dark-trans-800: #0E161Bc0;
  --dark-trans-900: #090F11e6;

  --blue-trans-50: #178dbc14;
  --blue-trans-100: #178dbc26;
  --blue-trans-200: #178dbc33;
  --blue-trans-300: #178dbc40;
  --blue-trans-400: #178dbc4c;
  --blue-trans-500: #178dbc66;
  --blue-trans-600: #178dbc80;
  --blue-trans-700: #178dbc99;
  --blue-trans-800: #178dbcc0;
  --blue-trans-900: #178dbce6;

  --green-trans-50: #178e1b19;
  --green-trans-100: #178e1b26;
  --green-trans-200: #178e1b33;
  --green-trans-300: #178e1b40;
  --green-trans-400: #178e1b4c;
  --green-trans-500: #178e1b66;
  --green-trans-600: #178e1b80;
  --green-trans-700: #178e1b99;
  --green-trans-800: #178e1bc0;
  --green-trans-900: #178e1be6;

  --red-trans-50: #e7202319;
  --red-trans-100: #e7202326;
  --red-trans-200: #e7202333;
  --red-trans-300: #e7202340;
  --red-trans-400: #e720234c;
  --red-trans-500: #e7202366;
  --red-trans-600: #e7202380;
  --red-trans-700: #e7202399;
  --red-trans-800: #e72023c0;
  --red-trans-900: #e72023e6;

  --yellow-trans-50: #a0780019;
  --yellow-trans-100: #a0780026;
  --yellow-trans-200: #a0780033;
  --yellow-trans-300: #a0780040;
  --yellow-trans-400: #a078004c;
  --yellow-trans-500: #a0780066;
  --yellow-trans-600: #a0780080;
  --yellow-trans-700: #a0780099;
  --yellow-trans-800: #a07800c0;
  --yellow-trans-900: #a07800e6;

  --white-trans-25: #ffffff0a;
  --white-trans-50: #ffffff12;
  --white-trans-100: #ffffff1e;
  --white-trans-200: #ffffff2e;
  --white-trans-300: #ffffff40;
  --white-trans-400: #ffffff4c;
  --white-trans-500: #fff6;
  --white-trans-600: #ffffff80;
  --white-trans-700: #fff9;
  --white-trans-800: #ffffffc0;
  --white-trans-900: #ffffffe6;
}
